#myCarousel {
  max-width: 100%;
  margin: 0 auto;
}

.carousel-inner img {
  max-width: 100%;
  height: auto;
}

.header-h2{
  padding: 30px;
  text-align: center;
  color: black;
}

.content-first{
  overflow: hidden;
  text-align: center;
  max-width: 100%;
}

.im img{
  max-width: 100%;
  height: auto;
}

.im p{
  margin-top: 15px;
  align-items: center;
}

#content{
  height: auto;
  width: 80%;
  margin: 0 auto;
}
